.heading {
    color: white;
    padding: 20px;
    line-height: 20px;
    background: black;
  }
  .heading h1{
    line-height: 40px;
    font-size: 2.3rem;
  }
  .banner_heading_center{
    min-height: 400px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
.start_btn{
  padding: 5px;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  width: 100px;
  background: crimson;
}
@media screen and (max-width:880px) {
  .banner_heading_center{
    width: 98%;
  }
}