
/* navigation */
.nav_container{
  position:sticky;
}
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav_link {
    padding: 8px;
    list-style-type: none;
    transition: all 1s;
    margin: 3px;
    border-radius: 20px;
  }
  
  .Link{
    padding: 8px;
    list-style-type: none;
    transition: all 1s;
    text-decoration: none;
    color: white;
  }
  
  .nav_link:hover {
  
    background-color: crimson;
    transform: scale(1.1);
  }
  
  