.contact_container{
    margin: 0 auto;
    width: 90%;
}
/* CONTACT FORM */
.contact_form{
    margin: 0 auto;
    width: 90%;
    background: black;
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.contact_input{
    padding: 10px;
    border-radius: 5px;
}
.contact_form label{
    display: grid;
    grid-template-columns: 30% 10% 60%;
    align-items: baseline;
}
.about_btn{
    
    margin: 10px auto;
    width: 100px;
    background: crimson;
    border: none;
    border-radius: 5px;
    padding: 4px;
    color: white;
}

.contact_form_container{
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
}
.banner_image{
    width: 100%;
    width: 300px;
    border-radius: 5px;
}
/* OUR LOCATION */
.map_demo{
    width: 90%;
    height: 400px;
    background: rgb(64, 149, 223);
    margin: 0 auto;
}


/*  WAY GUIDE */
.way_guide{
    display: grid;
    grid-template-columns: 50% 50%;
}
.by_train,.by_bus{
    padding: 20px;

}


/* RESPONCIVE */
@media screen and (max-width:600px) {
    .way_guide, .contact_form_container ,.contact_form label{
        grid-template-columns: 100%;
    }
    .contact_form label span,.contact_form_container img{
        display: none;
    }
    
}