.contact_show_container{
    display: flex;
    justify-content: space-between;
}
.contact_show{
    border-radius: 30px;
    background: linear-gradient(45deg,rgb(194, 6, 153),rgb(255, 145, 0));
    color: white;
    width: 23%;
    text-align: center;
    padding: 5px;
}
.contact_show_image{
    display:block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: blue;
    margin: 0 auto;
}